

{% extends 'base.html.twig' %}
{% block body%}

<div class="container mt-2> 
<h1> add client </h1> 
{{ form_start(form)}}
<div class ="row"> 
        <div class="col-md-2"> {{ form_row(form.Name )}} </div>
         <div class="col-md-2"> {{ form_row(form.Email )}} </div>
          <div class="col-md-2"> {{ form_row(form.Address )}} </div>
           <div class="col-md-2"> {{ form_row(form.Phone )}} </div>

       
                                
</div>
 {{ form_widget(form)}}
<button class="btn btn-primary"> sauvgarder </button>
      
 {{ form_end(form)}}







{% endblock %}